.page {
    /* margin: 1em; */
    font-size: 2em;
    padding: 1.5em;
    /* background :#f8f8f8; */
}

.header {
    background-color: #218bbd;
    /* height: 500px; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 0;
    position: sticky;
    top: 0;
}

.content {
    padding: 1.5em;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    color: #fff;
    background-color: #218bbd;
}

.btn_edit, .btn_delete{
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    border: 1px solid #d3d3d3;
}

.btn_edit{
    background-color: #fff;
    border: 1px solid #d3d3d3;
}

.btn_delete{
    background-color: #ff0000;
    border: 1px solid #d3d3d3;
}

.label {
    margin-bottom: 10px;
}